body {
    background-image: url("https://st2.depositphotos.com/2515395/7045/i/600/depositphotos_70458789-stock-photo-flame-fire-empty-hot-barbecue.jpg");
    background-repeat: inherit;
    background-size: cover;
}

.all {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 300px;
    background-color: rgb(11, 44, 105);
    padding: 16px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    border: solid 3px black;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.548);
}


input {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.548);
    text-align: center;
    font-size: 16px;

}

p {
    font-size: 23px;
    color: black;
}

.bt {

    display: inline-block;
    background-color: rgb(0, 119, 255);
    color: white;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 10px;
    border: 1px solid rgb(2, 2, 107);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.548);
}